{% extends "app/tmp/home.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href= {% static "app/css/style_pict.css" %} type='text/css'>
    {% block content %}
    <h3 class="head text-center">Картины</h3>
{% for picture in pictures.object_list %}
    <div class="col-md-4 product text-center">
						<a href="single.html"><img src= "static/app/img_p/{{picture.id}}.jpg" width="400" height="270"/></a>
						<div class="mask">
							<a href="img/{{picture.id}}">Просмотр</a>
						</div><br>
						<p><button class="item_add btn btn-link"  id="id_picture" value="{{picture.id}}"><span>$</span>{{ picture.cost }}</button></p>
					</div>
{% endfor %}
 <div class="container-fluid col-md-12 text-center row">
    <div class="pagination">
    <span class="step-links">
        {% if pictures.has_previous %}
            <a href="?page={{ pictures.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pictures.number }} of {{ pictures.paginator.num_pages }}.
        </span>

        {% if pictures.has_next %}
            <a href="?page={{ pictures.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
    </div>
</head>
<script src={% static "app/js/ajax.js" %}></script>
<script>
    $(".home").removeClass("active");
    $("pictures").addClass("active");
            $(".item_add").click(function(){
            var json ={
                id:  $(this).attr("value") 
        };
     var data_json = JSON.stringify(json);
        $.ajax({
        type: 'POST',
        url: "/cart/ajax",
        dataType: "json",
        data:data_json,
        success: function (obj) {
            if (obj.free) {
                $(".logo").css("color", "#ff0000");
                $(".logo").text(obj.count);
            }
        },

    });
});
    </script>
</html>
{% endblock %}